<app-carusel></app-carusel>
<div class="my_products">
    <div class="row row-cols-1 row-cols-md-5 g-9">
        <div class="col">
          <div class="card">
            <img src="https://www.bodenimages.com/productimages/r1aproductlarge/23waut_u0154_cam.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="https://images.only.com/15234743/3860808/001/only-onljuicylifewidehighwaistedjeans-blue.jpg?v=25218239a33492b1fdc780f92cdf53da&format=webp&width=1280&quality=90&key=25-0-3" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://www.helikon-tex.com/media/catalog/product/cache/6/image/500x/17f82f742ffe127f42dca9de82fb58b1/r/k/rk-id2-ne-3501_3.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://m.media-amazon.com/images/I/61AdRxgWufL._AC_UY1000_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://americanhatmakers.com/cdn/shop/products/nero-natural-black-straw-sun-hat-american-hat-makers-_1.jpg?v=1690505176&width=1000" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://shop.bentleymotors.com/cdn/shop/products/BL2219_1.38_CONTINENTAL_GT3_PULL_BACK_TOY_RED_2048x2048.jpg?v=1606472112" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://m.media-amazon.com/images/I/71JxuOqyiYL.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card">
            <img src="https://d13bbii8ozdt01.cloudfront.net/uploads/2022/12/Crompton-Iron-FabriAutotech-Cat-Images-J5562-A4405-01.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1255/8263/files/231108AdvLEDToothbrushPDP.jpg?v=1699541427" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a nat sit, amet consectetur adipisicing elit. n to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://st2.depositphotos.com/1166351/10156/i/950/depositphotos_101568090-stock-photo-black-closed-umbrella-on-white.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
</div>